/* Full-width inputs */
input[type=text] {
    width: 100%; 
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

/* Bordered form */
 /* form {
    
     border: 400px solid #f1f1f1; 
 }  */

/* Set a style for login buttons */
button {
    background-color: rgb(233, 132, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #bb514a;
}

/* Add padding to containers */
.container {
    padding: 16px;
}